{% extends '_base/_base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <input class="form-control form-control-sm"
                                       name="username" id="usernameField" type="text" placeholder="Username">
                            </div>
                            <div class="form-group mb-1">
                                <input class="form-control form-control-sm"
                                       name="password" id="passwordField" type="password" placeholder="Password">
                                <a href="{% url 'authentication:reset-password' %}">Forgot password?</a>

                            </div>
                            <div class="form-group mb-2">
                                <input type="checkbox">
                            </div>
                            <button class="btn btn-outline-secondary" type="submit" value="Login">Login</button>
                            <span>Don't have an account?</span>
                            <a href="{% url 'authentication:register' %}">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}