{% extends '_base/_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Register
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <input class="form-control form-control-sm"
                                       name="username" id="usernameField" type="text"
                                       placeholder="Username">
                            </div>
                            <div class="invalid-feedback username" style="display:none">

                            </div>
                            <div class="form-group mb-2">
                                <input class="form-control form-control-sm" name="email"
                                       id="emailField" type="email" placeholder="Email">
                            </div>
                            <div class="invalid-feedback email" style="display:none">
                            </div>
                            <div class="form-group mb-2">
                                <input class="form-control form-control-sm"
                                       name="password" id="passwordField"
                                       type="password" placeholder="Password">
                            </div>
                            <div class="form-group mb-3">
                                <small class="float-end text-secondary showPasswordToggle" style="cursor: pointer; text-decoration: underline">Show password</small>
                            </div>
                            <div class="form-group pt-3">
                                <button class="btn btn-outline-secondary" type="submit" value="Register">Register
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}