{% extends '_base/_base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        Reset password
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <input class="form-control form-control-sm"
                                       name="email" id="emailField" type="email" placeholder="Please enter your email"
                                       value="{{ email }}">
                            </div>
                            <button class="btn btn-outline-secondary" type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}